
* {
    box-sizing: border-box;
    border-left: 10px;
    border-right: 10px;
  }
div#gestioneprenotazione.card{
  margin-top: 0px !important;
}

  div#cardcliente.form-row,
  div#cardproprietario.form-row{
    border: 80px;
    justify-content: center;
  } 
div#carddatipersonali.form-row{
  padding-top: 60px;
}

@media screen and (max-width: 700px){
  div#gestioneprenotazione.card,
  div#datipersonali.card,
  div#gestionestruttura.card,
  div#modificapassword.card,
  div#comunicazioniallaquestura.card,
  div#rendicontotrimestrale.card,
  div#prenotazionieffettuate.card{
    margin: 0 !important;
    margin-bottom: 7px !important;
  }
  div#cardmodificapassword.card{
    margin: 0 !important;
    margin-bottom: 10px !important;
    margin-top: 50px !important;
  }
}


  
  
  