* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}
button.SignUpForm{
    padding: 20px;
}

legend#datadinascita.form-label,
legend#datadiarrivo.form-label,
legend#datadinascitaprenotazione.form-label{
    margin-top: 8px;
    font-size: 20px;
    padding-right: 8px;
}

div#datadinascita.form-group,
div#datadiarrivo.form-group,
div#datadinascitaprenotazione.form-group{
    display: flex;
    position: relative;
}

.SignUpForm{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}



div#cardheaderaccesso.card-header,
div#cardheaderregistrazione.card-header{
    border-radius: 20px 20px 0 0;
}

div#registrazionecard.card{
    border-radius: 40px;
}


label.form-label{
    text-align: left;
    margin: 0, 0, 0;
}
div.form-group{
    text-align: left;
    margin: 0;
}

button.btn.btn-primary{
    padding: 11px 24px;
    font-size: large;
}

@media (max-width: 767px){
    div.row, div.card-body {
        flex-basis: 50%;
    }
    div#registrazione.Container{
        padding-top: 80px !important;
        padding-bottom: 80px !important;
        padding: 0;
    }
    div#registrazionecard.card{
        margin: 0px !important;
    }

    div#accessocard.card{
        margin: 0 !important;
        margin-top: 50px !important;
        margin-bottom: 20px !important;
    }
}


