

div#comunicazione-dati-legali{
    padding-top: 90px;
    padding-bottom: 50px;
}

div#cardproprietarioriga2.form-row{
    border: 80px;
    padding-top: 60px;
    justify-content: center;
    color: black;
  }

