div#Cerca {
    justify-content: center;
    border-radius: 2%;
    padding-top: 20px !important;
    padding-bottom: 100px !important;
    background-position: right top;
}


button#cerca {
    height: 90px;
    width: 90px;
}

div#filtri.card-body{
    display: flex;
}


strong#nome-struttura:focus,
strong#nome-struttura:hover{
    color: black;
}
strong#nome-struttura:visited{
    color: rgb(95, 1, 95);
}

h1#strutture{
    text-align: center;
    color: rgb(41, 52, 110);
}

div#risultati-ricerca{
    padding-top: 100px;
}


div#tipoalloggiocerca.form-group{
    padding: 5px;
}

.jumbotron{
    background-color: white;
    color: black;

}
.comfort:last-child{
    margin-right: 10px;
}

div#cardheadercercastruttura.card-header{
    border-radius: 20px 20px 0 0;
}


@media screen and (max-width: 600px){
    
    div#Cerca{
        margin-top: 60px !important;
        margin-bottom: 20px !important;
        padding: 0px !important;
    }
    div#cercastrutturacard.card{
        margin: 0 !important;
        padding: 3px;
    }
    .jumbotron{
        margin-top: 30px;
    }
    
}


@media screen and (max-width: 1427px){
    div#Cerca{
        background-image: none !important;
    }
}

