.main-footer{
    color: white;
    background-image: url('../img/libri.jfif');
    background-size: cover;
    position: relative;
    bottom: 0;
    width: 100%;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}


