div#aggiungiospite,
div#datilegali{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

.allScreen {
    width: 100%;
    height: 100%;
    padding: 40px;
}




button#rendiconto-button{
    margin-top:30px;
    width: 60px;
    border-radius: 50%;
}

.padding-row {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row-margin {
    margin-top: 6px !important;
    justify-content: flex-end !important;
    display: flex;
}

.custom-button-danger {
    height: 40px;
    align-self: center;
}

@media screen and (max-width: 600px){
    .allScreen{
        padding-right: 4px;
        padding-left: 4px;
    }

}

@media screen and (max-width: 1025px) {
    div#form-questura.allScreen,
    div#rendiconto.allScreen{
        padding-top: 20%;
    }
}


