* {
    box-sizing: border-box;
    justify-content: center;
    border-left: 10px;
    border-right: 10px;

  }

a.registrati-prenotazione{
  color: #007bff !important;
  text-decoration: underline;
}
span.registrati-prenotazione{
  font-size: 12px;
  padding: 0;
}

div.registrati-prenotazione{
  padding:5px;
  text-align: center;
}

div#gestionestruttura-container{
  padding-top:130px;
  padding-bottom: 100px;
}

  div#file.form-group{
       display: flex;
    justify-content: center;
    align-items: center;
  }

  div#listastrutture.container{
    margin-top: 60px;
    padding: 0 !important;
  }

  img#elimina-immagine-struttura.img-responsive{
    height: 80px;
    width: 100px;
    margin: 10px;
  }

  img#elimina-img{
    height: 100px;
    width: 200px;
    margin: 40px;
  }

  div#mostralistastrutture.card, div#modificastruttura.card,
  div#eliminastruttura.card, div#aggiungistruttura.card{
    margin: 30px;
  }

  div#cardeliminastruttura.card-body, div#cardmodificastruttura.card-body, div#cardmostralistastrutture.card-body,
  div#cardaggiungistruttura.card-body{
    padding: 30px;
    padding-top: 20px;
  }

  div#cardgestionestruttura.form-row,
  div#datiquestura.form-row{
    border: 80px;
    padding-top: 100px;
    justify-content: center;
    color: black;
  }
  div#cardgestionestrutturariga2.form-row{
    border: 80px;
    padding-top: 30px;
    justify-content: center;
    color: black;
  }

  div.card-title.h5{
    margin-top: 12px;
  }

  div#listastrutture.card-body{
    padding:40px !important;
  }

  div.col-sm-4.col-12{
    padding: 15px;
  }

  div#listastrutture-container{
    padding-top: 120px !important;
    padding-bottom: 120px !important;
    padding-right: 5%;
    padding-left: 5%;
  }

  a#cardutentelink.card-link, a#cardproprietariolink.card-link{
    color: black;
  }

  a#cardproprietariolink.card-link:focus,
  a#cardproprietariolink.card-link:hover,
  a#cardproprietariolink.card-link:active,
  a#cardutentelink.card-link:focus,
  a#cardutentelink.card-link:active,
  a#cardutentelink.card-link:hover{
    color: #583e80!important;
  }


  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
   /*  padding: 16px; */
    text-align: center;
    background-color: #f1f1f1;
    /* display: flex;
    justify-items: center; */
  }

  button.btn.btn-secondary.small-button{
    width: 250px;
    font-size: medium;
    background-color: rgb(228, 228, 228);
    border-color: rgb(228, 228, 228);
    color: rgb(41, 52, 110);
    height: 40px;
  }


  div#tipoalloggio.form-group,
  div#ospiti.form-group{
    padding: 30px;
  }

.specifiche {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
}

.top-10 {
  margin-top: 10px !important;
} 

  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    div#aggiungistruttura.card{
      margin: 0 !important;
      width: 50px;

    }
    
  }

