* {
    box-sizing: border-box;
}


button#richiesta-prenotazione-button{
    margin: 40px;
}

button.prenotazioni-pending{
    margin: 4px;
    border-radius: 50%;
}

span#attenzione-date{
    color: red;
}

div#tabella-prenotazioni,
div#tabella-prenotazionieffettuate{
    padding-top: 5%;
    padding-left: 20px;
    padding-right: 20px;
}


.table{
    background-color: #fdfdfd;
    color: #0f2b46;
}

@media screen and (max-width: 870px){
    div#tabella-prenotazioni,
    div#tabella-prenotazionieffettuate{
        padding-top: 60px !important;
    }
    div#guadagni.card{
        margin-top:80px !important;
        margin-bottom: 10px !important;
    }
}
/* @media screen and (max-width: 600px){
    div#tabella-prenotazioni,
    div#tabella-prenotazionieffettuate{
        padding-top: 20%;
    }
}
@media screen and (max-width: 400px){
    div#tabella-prenotazioni,
    div#tabella-prenotazionieffettuate{
        padding-top: 30%;
    }
} */


