*{
    box-sizing: border-box;
}


/* Definisco il contenitore */
/*
div .Container {
    padding-top: 16px;
    border: 0;
    margin: 0;
    position: relative;
    justify-content: center;
    height: auto !important;
    min-height: 100%;
} */


div#Cerca
{
    justify-content: center;
    border-radius: 2%;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    padding: 40px;
    bottom: 60px;
    right: 40px;
    z-index: 1;
}

div#risultati-ricerca{
    padding-top: 100px;
}

div#tipoalloggiocerca.form-group{
    padding: 5px;
}

div#prezzo.value{
    padding: 0;
}

div.value{
    padding: 10px;
}

div#cardheadercercastruttura.card-header{
    border-radius: 20px 20px 0 0;
}

div#secondarigacerca.form-row{
    padding: 8px;
}


@media (max-width: 767px){
    div.row, div.card-body {
        flex-basis: 50%;
    }
}
