
.carousel img#struttura-img {
    height: 400px ;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}  
.carousel, .slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.margin-container {
    width: 100% !important;
    margin-top: 100px;
}

.card-appearance {
    height: auto;
    margin: 40px;
}

div#infostruttura.card-appearance{
    margin-top: 80px !important;
}

div#visualizza-immagine{
    padding-top: 120px !important;
} 

div#bottone.row{
    padding:10px;
}

.prezzo{
    font-size: 1.5em;
}

svg#prezzo{
    padding-bottom: 5px;
}

button#modifica.prenota-button{
    font-size: 1.4em !important;
}

.small-button{
    margin: 13px;
    width: 130px;
    height: 60px;
    border-radius: 4em;
    font-size: 16px !important;
}

.lista-camere
{
    background: white;
    margin: 0px !important;
    border-radius: 24px !important;
    margin-bottom: 10px !important;
}

.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.lista-camere.row{
    margin-top: 30px !important;
}

@media screen and (max-width: 767px){
    div.lista-camere.row{
        margin-top: 10px !important;
    }
    div#infostruttura.card-appearance.card{
        margin-bottom: 10px !important;
    }
}
