* {
    box-sizing: border-box;
}

div#listastrutture-container,
div#visualizza-immagine{
    padding-top: 7%;
    padding-bottom: 10%;
    background-color: #130026;
    width: auto;
    height: auto;
}



div.col{
    padding:10px;
}

div#prezzo-struttura{
    font-size: 30px;
}

svg#prezzob{
    padding-bottom: 10px;
}

.lista-strutture-ricerca
{
    background: white;
    margin: 20px !important;
    border-radius: 24px !important;

}

div#aggiungistruttura.card{
    margin:30px !important;
}

.card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

button.card-struttura-button.small-button {
    margin: 10px;
    width: 40px;
    height: 40px;
    padding: 3px 8px !important;
    border-radius: 3em;
}

button#modifica.small-button{
    margin: 13px;
    border-radius: 4em;
}



div#listastrutture.card-body{
    padding-left: 8px;
    padding: 30px;
}

div#struttura.card-body{
    padding: 20px;
}


div#bottonemostrastrutture.form-row{
    border: 80px;
    padding-top: 200px;
    justify-content: center;
    color: black;
  }

  .immagine{
      padding:0 !important;
  }

.card-img {
    border-radius: 24px 0 0 24px;
    height: 100%;
    object-fit: cover;
}

.card-appearance {
    height: fit-content;
    min-height: 400px;
    margin: 10px !important;
}
.descrizione{
    padding: 20px;
    text-align: left !important;
}



  @media screen and (max-width: 700px){
    div#listastrutture.card-body{
        padding-left: 3px !important;
        padding-right: 3px !important;
        padding: 10px;
    }
    div.lista-strutture-ricerca.row{
        margin: 5px !important;
        margin-bottom: 20px !important;
    }
  }

  @media screen and (max-width: 576px){
    .card-img {
        border-radius: 24px 24px 0 0 ;
        object-fit: cover;
    }
  }

