header.jumbotron{

    padding-top: 110px;
    margin: 0;
    color: white;
    background-color: transparent;
    box-shadow: 4px black;
}
div#cardheaderprofilo.card-header{
    text-align: left;
    border-radius: 20px 20px 0px 0px;

}

p#profilo {
    background-color: white;
    color: black;
    margin: 20px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
}

div#profilo{
    margin: 3%;
}

h1{
    padding-bottom: 30px;
}

div.col-5{
    padding: 15px;

}

p.card-text{
    padding: 10px;
    background-color: transparent;
    border: none;
}

div#profilo.container{

    padding-bottom: 10%;
}

div#profilo.md-2.card{
    justify-content: center;
    display: inline;
}

@media screen and (max-width: 1000px){
    div#profilo{
        padding-top: 50px;
    }
}

@media screen and (max-width: 568px){
    p#profilo {
        background-color: white;
        color: black;
        margin: 20px;
        border: 2px solid white;
        border-radius: 20px;
        padding: 10px;
        overflow: scroll;
    }

}

