* {
    box-sizing: border-box;
}

.Container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
}

.DateRangePicker_picker {
    left: -20px !important;
}

button.btn-primary {
    background-color: rgb(53, 68, 139) !important;
    border-color: rgb(41, 52, 110) !important;
    box-shadow: rgb(121, 115, 115);
    border-radius: 4em;
}

div.card-header {
    text-align: center;
    background-color: transparent;
    font-size: 27px;
    color: black;
    border-radius: 20px 20px 0 0;
}

.btn-primary:hover {
    background-color: rgb(41, 52, 110) !important;
}

.form-group {
    padding: 5px;
}

div.card-body {
    background-color: #f8f8f800;
    border-radius: 20px;
}

/* NAVBAR */
.bg-dark {
    display: inline;
    background-color: #00879b !important;
}

.fixed-top {
    padding: 20px 30px;
}

.navbar-dark .navbar-toggler {
    padding: 3px;
}

.navbar-dark .navbar-toggler-icon {
    padding: 3px;
}

/* ANCORE */
a.nav-link {
    display: inline;
    color: white !important;
}

a {
    color: rgb(41, 52, 110);
}

a:active {
    color: rgb(41, 52, 110);
    border-radius: 10px;
}

a.nav-link:hover, a.nav-link:focus {
    background-color: #026979 !important;
}


.mt-3, .my-3 {
    margin-top: 1rem !important;
    margin: 0;
    width: 100%;
    display: contents;
}

div .Container {
    padding-top: 16px;
    border: 0;
    margin: 0;
    position: relative;
    justify-content: center;
    height: auto !important;
    min-height: 100%;
}

div#email.row {
    justify-content: center;
    font-size: medium;
}


.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 40px;
    background-color: #f3e6e5;
    background-size: auto;
    width: auto;
    height: auto;
}

.card {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f8f9fa !important;
    margin: 50px !important;
    border-radius: 20px;
}

.card-body {
    padding: 15px !important;
}

.content-wrap {
    flex: 1;
}

a.nav-link:hover, a.nav-link:focus {
    background-color: #dddddd;
    color: rgb(41, 52, 110);
    border-radius: 10px;
}

div.col {
    padding: 0;
}

img {
    height: 50%;
    width: 100%;
}

.carousel {
    margin-right: 0px;
    margin-top: 0px;
}

@media screen and (max-width: 981px) {
    div#registrazione.Container {
        padding-left: 3%;
        padding-right: 3%;
    }

    a.nav-link {
        display: table-caption;
    }
}

@media screen and (max-width: 1000px) {
    .Container {
        padding-top: 50px;
    }
    .card{
        margin: 40px !important ;
        margin-top: 10px !important;
    }
}

@media screen and (max-width: 700px) {
    div {
        background-image: none;
    }
}



@media screen and (min-width: 580px) and (max-width: 1025px) {
    .page-container {
        margin-top: 40px !important;
    }
}
